@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Krona+One&family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}


/* Header */


main {
    padding-top: 133px;
}
.navbar{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;

}

.pokemon_logo_title{
    display: flex;
}


.pokemon_logo_title h1 {
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 900;
}

.menu{
    display: flex;
}

.text_icons{
    display: flex;
    padding-top: 20px;
    padding-right: 60px;

}

.text_icons p {
    color: #808080;
}

.text_icons p:hover{
    color: black;
    cursor: pointer;
}

.logo{
    height: 70px;
    padding-left: 30px;
}



.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-left: 300px;
    border: 1px solid black;
   
  }

  .search-input {
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    width: 300px;
    height: 49px;
    background-color: white;
    
  }

 

  .search-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    height: 50px;
    width: 55px;

  }

  .search-button:hover {
    background-color: #555;
  }




/* Introduction */


.click_here{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 60px;
    
}

.click_here p {
    color: white;
}

.click_here:hover {
    cursor: pointer;
}



.image_battle{
    width: 100%;
}

.poke1{
    width: 100%;
    height: 600px;
}



.pokemons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.pokemons_choose p {
    color: rgb(47, 47, 47);
    margin-top: 30px;
    border: 1px solid rgb(23, 23, 23);
    padding: 20px;
    cursor: pointer;
}


.pokemons_choose p:hover{
    color: red;
}




/* Cards - Main */



#container_2{
    background-color: #000000AD;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
   
    
}

.caixa_2{
    
    background-color: rgb(159, 23, 23);
    width: 600px;
    height: 400px;
    position: relative;
    border-radius: 15px;
    
}


.close-btn{
    position: absolute;
    left: 575px;
    padding-top: 5px;
    background: transparent; 
    border: none; 
    color: #c7c7c7;
    font-size: 20px;
    cursor: pointer;
    
}

.close-btn:hover{
    color: black;
}



#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-top: 60px;
    width: 70%;
    margin-left: 250px;
    margin-bottom: 60px;
    
}



.photo{
    max-width: 100%;
    border: 1px solid rgb(217, 216, 216);
    border-radius: 60px;
    margin-top: 10px;

   
}


.card:hover{
    transform: scale(1.1)
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(212, 212, 212); 
    border-radius: 15px;
    width: 200px;
    height: 220px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(163,163,163,0.3);
-moz-box-shadow: 0px 10px 10px 0px rgba(163,163,163,0.3);
box-shadow: 0px 10px 10px 0px rgba(163,163,163,0.3);

    
    
    
    
}


p {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(172, 7, 62);
    color: rgb(80, 80, 80);
}





.botoes{
    display: flex;
    gap: 40px;
    padding-top: 20px;
    
    
}

.container_botoes{
    border-top: 1px solid rgb(203, 201, 201);
    display: flex;
    gap: 40px;
    padding: 34px;
    padding-top: 20px;
    

}

.choose{
    font-size: 1.0rem;
    cursor: pointer;
    color: rgb(106, 104, 104);
    
}

.choose:hover{
    color: red;
}

.info{
    font-size: 1.0rem;
    cursor: pointer;
    color:rgb(106, 104, 104);
}

.info:hover{
    color: red;
}







/* Footer */



footer{
    background-color: black;
}

.main_container{
    display: flex;
    justify-content: space-around;
    
}


.second_container{
    display: flex;
    gap: 50px;
    padding-top: 30px;
}

.list{
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 0.9rem;
}



.list li{
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 0.9rem;

}

.list li:hover{
    color: #555;
}

.nicks i{
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.5rem;
    
}

.nicks i:hover{
    color: rgb(200, 33, 33);
}

.footer_text{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 40px;
}

.footer_text p{
    font-size: 0.7rem;
    color: rgb(147, 141, 141);
}






/* Red Box (when we click on "info") */



.caixa_content{
    width: 100%;
}



.main_container_info{
    width: 100%;
   
    color: white;
   }
   
   
   h1{
       text-align: center;
       padding-top: 20px;
       font-size: 2.0rem;
    
   }
   
   .container_info{
       display: flex;
       align-items: center;
       justify-content: space-around;
      
   }
   
   
   .container_info ul{
       list-style: none;
       padding-top: 50px;
       padding-left: 50px;
       
       
   }
   
   ul li{
       padding: 15px;
       font-weight: bold;
       font-size: 1.2rem;
   }
   
   
   .pikachu_photo{
       margin-top: 50px;
       width: 180px;
       border-radius: 90px;
       margin-right: 10px;
       -webkit-box-shadow: 10px 10px 40px 3px rgba(168,168,168,1);
   -moz-box-shadow: 10px 10px 40px 3px rgba(168,168,168,1);
   box-shadow: 10px 10px 40px 3px rgba(168,168,168,1);
   background-color: rgb(255, 249, 249)
   
   
   }